.listMaxEntries {
  height: 55vh;
  max-height: 55vh;
  overflow-y:scroll;
  overflow-x:hidden;
}
.liststrong {
  font-weight: bold;
}
.list-no-padding {
  padding: 0px;
}

.ul-less-padding {
  padding-inline-start: 5px;
}

#myspinner {
  position: absolute;
  top: 40vh;
  left: 50vw;
  z-index: 1;
}